form {       /* Utilizamos flex para centrar el form */
    display: flex;
    align-items: center;
    flex-direction: column;
}

form label{
    font-size: 14px;
}

/*INPUT DONDE SE AGREGA LA CIUDAD   Mediante ID*/
#addCity{
    width: 200px;
    padding: 7px;        
    border-radius: 5px;
    margin: 2px;
    background-color: #f7fcaf;  /* Relleno amarillo */
    border: 2px solid #1a2c66;    /* Contorno azul */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  /* Sombra */
    color: #3e8692;
}


/*CARTELES DONDE MUESTRA EL ESTADO DE CARGA DE CIUDAD*/
#alerts{
    color: black;
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
}

#social-icons {
    position: fixed;
    top: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    right: 10px; /* Ajusta la distancia desde la parte derecha según tus necesidades */
    display: flex;
}

#social-icons a {
    margin-right: 10px; /* Espacio entre los íconos de redes sociales */
}

  

